################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BulkyBookREPO/v16/.suo
/BulkyBookREPO/Data/Migrations
/BulkyBookREPO/obj
/.vs/BulkyBookREPO/config
